{% extends "base.html" %}
{% block content %}
  <h1>Who is Golfing?</h1>
  <p>Welcome to the Who is Golfing tee time organizer. On this site, you can indicate whether or not you are playing for a given date.</p>


  <form action="/" method="POST">
    <h3>Add Response</h3>
    <p>
      <label for="date">Date:</label>
      <input type="text" name="date"/>
    </p>
    <p>
      <label for="email">Email:</label>
      <input type="text" name="email"/>
    </p>
    <p>
      <label for="response">Response:</label>
      <input type="radio" name="response"/>
     </p>
    <p>
      <label for="instructions">Instructions:</label>
      <textarea name="instructions"></textarea>
    </p>
    <p><input type="submit" name="submit_recipe"/></p>
  </form>
{% endblock %}