{% extends "base.html" %}
{% block content %}
  <h1>About This Tool</h1>
  <p>
    This is a work in progress.  Eventually, I would like to:<br>
    Register users by email<br>
    Take yes/no responses as to who is playing for a given date<br>
    Calculate how many tee times are needed to Sat. and Sun.<br>
    Send an email to the club requesting those tee times.<br>
    Randomize those that are playing and send an email out with who is in which foursome.<br>
  </p>
  <p>
    Thank you for visiting!!!
  </p>
{% endblock %}